@media screen and (max-width: 1266px) {
    
}

@media screen and (max-width: 1076px) {
    .Dots {
        margin-right: 10px;
    }
    .InputSearch {
        width: 70%;
    }
}

@media screen and (max-width: 972px) {
    .Information {
        margin-right: 15px;
    }
}

@media (min-width: 790px) and (max-height: 887px) {
    .AccountsList {
        max-height: 250px;
    }
}

@media (min-width: 790px) and (max-height: 800px) {
    .AccountsList {
        max-height: 220px;
    }
}
@media (min-width: 790px) and (max-height: 765px) {
    .AccountsList {
        max-height: 190px;
    }
}
@media (min-width: 790px) and (max-height: 740px) {
    .AccountsList {
        max-height: 140px;
    }
}
@media (min-width: 790px) and (max-height: 700px) {
    .AccountsList {
        max-height: 110px;
    }
}
@media (min-width: 790px) and (max-height: 650px) {
    .AccountsList {
        max-height: 90px;
    }
}
@media (min-width: 790px) and (max-height: 600px) {
    .AccountsList {
        max-height: 40px;
    }
}


@media screen and (max-width: 790px) {

    .MainSideBar {
        width: 100%;
    }
    .OptionsPanel {
        display: none;
    }
    .ChatBlock:first-child {
        margin-top: 60px;
    }
    .ChatBlock:last-child {
        margin-bottom: 90px;
    }
    .BottomMobilePanel {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .List {
        flex-direction: row;
    }
    
    .TopColorMobilePanel {
        display: flex;
    }

    .SearchBlock {
        width: 95%;
    }

    .Account {
        width: 52px;
        height: 52px;
        font-size: 20px; 
        margin-left: 5px;
        margin-right: 5px;
    }
    .Account:first-child {
        margin-top: 0;
    }
    .AccOption {
        width: 52px;
        height: 52px;
    }
    .AccountsList {
        align-items: center;
        width: 50%;
        flex-direction: row;
    }
    .AccountsList::-webkit-scrollbar {
        height: 5px;
    }
    .Back {
        display: flex;
    }
    .MessageBlock { 
        width: 100%;
    }
}
