

/* Montserrat Black */
@font-face {
  font-family: 'Montserrat Black';
  src: local('Montserrat-Black'), url( ../../fonts/Montserrat-Black.ttf) format('truetype');
  font-weight:900;
  font-style: normal;
}

/* Montserrat Black Italic */
@font-face {
  font-family: 'Montserrat Black Italic';
  src: local('Montserrat-BlackItalic'), url(  ../../fonts/Montserrat-BlackItalic.ttf)format('truetype');
font-weight: 900;
  font-style:italic;
}

/* Montserrat Bold */
@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat-Bold'), url(  ../../fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Montserrat Bold Italic */
@font-face {
  font-family: 'Montserrat Bold Italic';
  src: local('Montserrat-BoldItalic'), url( ../../fonts/Montserrat-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style:italic;
}

/* MontserratExtraBold */
@font-face {
  font-family: 'Montserrat ExtraBold';
  src: local('Montserrat-ExtraBold'), url( ../../fonts/Montserrat-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Montserrat ExtraBold Italic */
@font-face {
  font-family: 'Montserrat ExtraBold Italic';
  src: local('Montserrat-ExtraBoldItalic'), url( ../../fonts/Montserrat-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Montserrat ExtraLight */
@font-face {
  font-family: 'Montserrat ExtraLight';
  src: local('Montserrat-ExtraLight'), url( ../../fonts/Montserrat-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Montserrat ExtraLight Italic */
@font-face {
  font-family: 'Montserrat ExtraLight Italic';
  src: local('Montserrat-ExtraLightItalic'), url( ../../fonts/Montserrat-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Montserrat Italic */
@font-face {
  font-family: 'Montserrat Italic';
  src: local('Montserrat-Italic'), url( ../../fonts/Montserrat-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Montserrat Light */
@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat-Light'), url( ../../fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Montserrat Light Italic */
@font-face {
  font-family: 'Montserrat Light Italic';
  src: local('Montserrat-LightItalic'), url( ../../fonts/Montserrat-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Montserrat Medium */
@font-face {
  font-family: 'Montserrat Medium';
  src: local('Montserrat-Medium'), url( ../../fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Montserrat Medium Italic */
@font-face {
  font-family: 'Montserrat Medium Italic';
  src: local('Montserrat-MediumItalic'), url( ../../fonts/Montserrat-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat Regular';
  src: local('Montserrat-Regular'), url( ../../fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat SemiBold */
@font-face {
  font-family: 'Montserrat SemiBold';
  src: local('Montserrat-SemiBold'), url( ../../fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight:600;
  font-style: normal;
}

/* MontserratSemiBold Italic */
@font-face {
  font-family: 'Montserrat SemiBold Italic';
  src: local('Montserrat-SemiBoldItalic'), url( ../../fonts/Montserrat-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Montserrat Thin */
@font-face {
  font-family: 'Montserrat Thin';
  src: local('Montserrat-Thin'), url( ../../fonts/Montserrat-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Montserrat Thin Italic */
@font-face {
  font-family: 'Montserrat Thin Italic';
  src: local('Montserrat-ThinItalic'), url( ../../fonts/Montserrat-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: #F7F7F7;
}


.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #F7F7F7;
}

.MainSideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #a0a0a0;
  display: flex;
  flex-direction: row;
}

.OptionsPanel {
  padding-top: 35px;
  padding-bottom: 20px;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ebebeb;
  box-sizing: border-box;
}

.ColorFolders {
  width: 100%;
  height: auto;
  /* border: 1px blue solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  margin-bottom: 37px;
  border-radius: 50%;
}


#blue{background-color: #26547C;}
#yellow{background-color: #FFC800;}
#gray{background-color: #A0A0A0;}
#green{background-color: #4CB944;}
#red{background-color: #FF0035;}

.Accounts {
  width: 100%;
  /* border: 1px #2f7735 solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Account {
  cursor: pointer;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  margin-bottom: 12px;
}

.Account:first-child {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #525151;
} 

.List {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.dotBlock {
  cursor: pointer;
  position: relative;
  top: 0; 
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.dot {
  position: fixed;
  width: 80px;
  background-color: #ebebeb;
}

.AccountsList{
  /* border: 4px red solid; */
  display: flex;
  width: 100%;
  max-height: 300px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.AccOption {
  cursor: pointer;
  background-color: #eaeaea;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.SearchBlock {
  margin-top: 30px;
  width: 100%;
  min-height: 85px;
  max-height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.InputBlock {
  width: 80%;
  height: 50px;
  /* background-color: #dad5d5; */
  /* padding-left: 20px; */
  margin-left: 19px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

}


::placeholder {
  color: #868282;
  font-family: 'Montserrat Light';
}
.InputSearch {
  height: 100%;
  flex: 1;
  padding-left: 80px;
}

.IconSearch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 25px;
  
}

.IconSend {
  transform: rotate(-40deg);
  margin-left: 18px;
}

.Dots {
  cursor: pointer;
  margin-left: 18px;
}

.ChatsBlock {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
}

.scrollbox {
  overflow: auto;
}

.scrollbox-inner {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Chat {
  cursor: pointer;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;
  /* margin-bottom: 5px */
  border-bottom: #e0e0e0 3px solid;
}

.__CircleChat {
  width: 54px;
  height: 54px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.ChatInfo {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.UserName {
  font-family: 'Montserrat Bold';
  font-size: 24px;
  color: #000;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductName {
  font-size: 20px;
  font-family: 'Montserrat Medium';
  color: #000;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LastMessage {
  font-family: 'Montserrat Medium';
  color: #A0A0A0;
  font-size: 16px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OtherInfo {
  width: 20%;
  height: 100%;
  margin-left: auto;
  display: flex;
  position: relative;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.TopInfoBlock {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.Checked {
  display: flex;
  justify-content: center;
  align-items: center;

}

.DateText {
  margin: 10px;
  font-size: 16px;
  color: #A0A0A0;
}

.BottomInfoBlock {
  display: flex;  
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.ChatInfoCircle {
  margin-left: auto;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #13266A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F7F7F7;
  font-size: 10px;
}


.ChatBlock {
  display: flex;
  justify-content: start;
  width: 100%;
}

.MessageBlock {
  /* display: none; */
  display: flex;
  position: fixed;
  right: 0;
  width: 49%;
  height: 100%;
  flex-direction: column;
  background-color: #f7f7f7;
}

.TopPanel {
  width: 100%;
  margin-bottom: 20px;
  /* height: 15%; */
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
}

.MessageChatInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ChatName {
  font-size: 20px;
  font-family: 'Montserrat Bold';
}

.ChatNameProduct {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Montserrat Medium';
}

.tabs {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.elips {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  border-radius: 30px;
}

.Messages {

  width: 100%;
  height: 80%;
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  overflow: auto; 

}


.Message {
  max-width: 85%;
  min-width: 30%;
  height: auto;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  word-wrap: break-word;
}


.__my {
  margin-left: auto;
  background-color: #EBEBEB;
  /* background-color: #66a057; */

  border-radius: 20px;
}

.__other {
  margin-right: auto;
  background-color: #d9d9d9;
  /* background-color: #7757a0; */
  border-radius: 20px;
}

.Check {
  color: #A0A0A0;
  width: 100%;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: row;
}


.InputMessageBlock {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 10px; */
}


.InputMessage {
  flex: 1;
  padding: 10px;
  margin: 0 12px;
  background-color: #e0e0e0;
  font-size: 20px;
  color: #5a5a5a;
  font-family: 'Montserrat Medium';
  /* align-items: center; */
  /* border-color: #e0e0e0; */
  border-radius: 20px;
  align-items: center;
}

.InputMessage::placeholder {
  color: #5a5a5a;
  font-size: 24px;
}

.CircleSettingItem {
  margin-left: auto;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px #A0A0A0 solid;
  background-color: transparent;
}

.pointer {
  cursor: pointer;
}

.__pl {
  margin-left: 10px;
}
.__pr {
  margin-right: 10px;
}

.BottomMobilePanel {
  display: none;
  z-index: 999;
  bottom: 0 ;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #F7F7F7;
}
.TopColorMobilePanel {
  display: none;
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #F7F7F7;
  justify-content: space-around;
  align-items: center;
}

.elipsMob {
  display: flex;
  width: 60%;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}